/* ↓ここから全ページの設定 */

body {
    font-family: sans-serif;
    padding: 1% 5%;
}

header {
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 35%;
}

#schools, #grades, .members {
    text-align: center;
}

td:not(#char2 table tr td, .chars, #names tr td, #positions tr td) {
    padding: 30px;
}

table:not(#char1 table) {
    width: 100%;
    border-collapse: collapse;
    font-size: xx-large;
    font-weight: bolder;
}

.footerInner {
    text-align: center;
    font-size: larger;
    margin: 5%;
}

.forSite {
    background: rgb(147, 236, 229);
    color: rgb(3, 5, 95);
    width: 230px;
    height: 50px;
    display: inline-block;
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
    line-height: 50px;
    font-size: 25px;
    transition: 200ms;
}

.forSite:hover {
    background: rgb(3, 5, 95);
    color: rgb(147, 236, 229);
    transform: scale(1.1, 1.1);
}

#back {
    text-align: end;
    font-size: large;
    font-weight: bolder;
}

#char1 {
    width: 50%;
}

#bgs{
    background-size: 80px;
    vertical-align: bottom;
}

/* ↑ここまで全ページの設定 */

/* ↓ここから各キャラページの背景の設定 */

#char2 {
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10%;
}

.kaijo {
    background-image: url(./i.badges/kaijo.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10%;
}

.syutoku {
    background-image: url(./i.badges/syutoku.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10%;
}

.too {
    background-image: url(./i.badges/too.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10%;
}

.yosen {
    background-image: url(./i.badges/yosen.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10%;
}

.rakuzan {
    background-image: url(./i.badges/rakuzan.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10%;
}

.teko {
    background-image: url(./i.badges/teko.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10%;
}

.kirisaki {
    background-image: url(./i.badges/kirisaki.svg);
    background-repeat: no-repeat;
    background-position: center;
    padding-left: 10%;
}

/* ↑ここまで各キャラページの背景の設定 */

/* ↓ここからトップページの設定 */

.keyVisual {
    text-align: center;
}

.sevens {
    width: 100%;
}

.tab {
    color: white;
    text-align: center;
}

#tab1 {
    background: #4A75A2;
    border-radius: 70px 70px 0px 0px;
    transition: 200ms;
    pointer-events: none;
}

#tab2 {
    background: #145A96;
    border-radius: 70px 70px 0px 0px;
    transition: 200ms;
    pointer-events: auto;
}

#tab3 {
    background: #054286;
    border-radius: 70px 70px 0px 0px;
    transition: 200ms;
    pointer-events: auto;
}

#tab4 {
    background: #0f2b87;
    border-radius: 70px 70px 0px 0px;
    transition: 200ms;
    pointer-events: auto;
}

#tab1:hover {
    color: #4A75A2;
    background: white;
}

#tab2:hover {
    color: #145A96;
    background: white;
}

#tab3:hover {
    color: #054286;
    background: white;
}

#tab4:hover {
    color: #0f2b87;
    background: white;
}

#table1 {
    background: linear-gradient(#4A75A2 0%, #4A75A2 4%, transparent 4%, transparent 96%, #4A75A2 96%, #4A75A2 100%), linear-gradient(to right, #4A75A2 0%, #4A75A2 3%, white 3%, white 97%, #4A75A2 97%, #4A75A2 100%);
    padding: 5%;
    display: block;
}

#table2 {
    background: linear-gradient(#145A96 0%, #145A96 6.5%, transparent 6.5%, transparent 93.5%, #145A96 93.5%, #145A96 100%), linear-gradient(to right, #145A96 0%, #145A96 3%, white 3%, white 97%, #145A96 97%, #145A96 100%);
    padding: 5%;
    display: none;
}

#table3 {
    background: linear-gradient(#054286 0%, #054286 7%, transparent 7%, transparent 93%, #054286 93%, #054286 100%), linear-gradient(to right, #054286 0%, #054286 3%, white 3%, white 97%, #054286 97%, #054286 100%);
    padding: 5%;
    display: none;
}

#table4 {
    background: linear-gradient(#0f2b87 0%, #0f2b87 15%, transparent 15%, transparent 85%, #0f2b87 85%, #0f2b87 100%), linear-gradient(to right, #0f2b87 0%, #0f2b87 3%, white 3%, white 97%, #0f2b87 97%, #0f2b87 100%);
    padding: 5%;
    display: none;
}

table#schools tr td {
    width: 33%;
}

table#positions tr td {
    padding: 30px 0px 30px 7%;
}

table#names td:not(td.space) {
    padding-left: 10%;
}

td.space {
    padding: 30px 0px 30px 17%;
}

/* ↑ここまでトップページの設定 */

/* ↓ここからミドルページの設定 */

.direction {
    padding: 0% 3%;
}

.members img {
    border-radius: 10%;
}

/* ↑ここまでミドルページの設定 */

/* ↓ここからキャラページの設定 */

td.caps {
    padding-left: 10%;
    width: 35%;
}

td.chars {
    width: 40%;
    text-align: center;
}

#forSchool, #forPosition, #forName, #forGrade, #forTop{
    display: block;
    margin: 1% 10%;
}

.hide{
    margin: 1%;
}


/* 立ち絵の場所指定 */

#char17 {
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: serif;
}

.relate img {
    border-radius: 10%;
}
