body{
  font-family: sans-serif;
  padding: 5%;
}

.headerInner{
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 35%;
}

.lightBlue{
  background-image: url(./i.others/ball.goal.svg);
  background-size: 80px;
}

.orage{
  background-image: url(./i.others/ball.nigo.svg);
  background-size: 80px;
}

.keyVisual{
  text-align: center;
}

.sevens{
  width: 100%;
}

#schools,#grades,.members{
  text-align: center;
}

td{
  padding: 30px;
}

.tab{
  color: white;
  text-align: center;
}

table tr td.left{
  border-left: #4A75A2;
}

.table{
  background:
  linear-gradient(#4A75A2 0%, #4A75A2 3%, transparent 3%, transparent 97%, #4A75A2 97%, #4A75A2 100%),
  linear-gradient(to right, #4A75A2 0%, #4A75A2 3%, white 3%, white 97%, #4A75A2 97%, #4A75A2 100%);
  padding: 5%;
}

table{
  width: 100%;
  border-collapse: collapse;
  font-size: xx-large;
  font-weight: bolder;
}

table#schools tr td{
  width: 33%;
}

table#positions td{
  padding-left: 10%;
}

#school{
  background: #4A75A2;
  border-radius: 70px 70px 0px 0px;
}

#position{
  background: #145A96;
  border-radius: 70px 70px 0px 0px;
}

#grade{
  background: #054286;
  border-radius: 70px 70px 0px 0px;
}

.footerInner{
  text-align: center;
  font-size: larger;
  margin: 5%;
}